body {
	background-color: #A1DCF7;
	color: #3D3D3D;
	text-align: center;
	font-family: "Cambria", sans-serif;
	max-width: 1000px;
    margin: 1vh auto;
}
.contract {
	text-align: left;
	margin: 20px;
	width: 70%;			
}
.indent {
    text-indent: 30px;
}
a {
    font-family: Arial, monospace;
    text-decoration: none;
}
a:link {
    color: #B50000;
}
a:hover {
    background-color: #0073A8;
    border: 2px dashed black;
    padding: 3px;
    color: #FFFFFF;
    border-radius: 10px;
}
a:active {
    color: #FFFFFF;
}
nav {
    margin: 10px;
}
h1 {
    background-color: #0073A8;
    margin: auto;
    width: 80%;
    color: #FFFFFF;
    border-radius: 30px;
}
h2 {
    background-color: #0073A8;
    margin: auto;
    width: 50%;
    color: #FFFFFF;
    border-radius: 30px;
}
p {
    font-family: "Trebuchet MS", sans-serif;
}
figure {
    background-color: #0073A8;
    margin: 10px auto;
    width: 50%;
    border-radius: 30px;
}
img {
    margin: auto;
    width: 90%;
}
figcaption {
    color: #FFFFFF;
    font-style: italic;
}
li {
    text-align: left;
}
.invisible{
    list-style-type: none;
}