<a href="https://webpages.charlotte.edu/mpachec5/">Charlotte.edu</a> | 
        <a href="https://github.com/mpachec5-charlotte">GitHub</a> | 
        <a href="https://mpachec5-charlotte.github.io/">GitHub.io</a> | 
        <a href="https://mpachec5-charlotte.github.io/itis3135">itis3135.io</a> | 
        <a href="https://www.freecodecamp.org/mpachec5-charlotte">FreeCodeCamp</a> | 
        <a href="https://www.codecademy.com/profiles/mpachec5-charlotte">Codecademy</a> | 
        <a href="https://www.linkedin.com/in/marlon-pacheco-arroyo-0a055b253/">LinkedIn</a>
        <p>Designed by <a href="pachecoarroyosolutions.com/">Pacheco Arroyo Solutions</a> &copy;2025</p>